---
import background from '../assets/backgroundnoise.svg';
import "tippy.js/dist/tippy.css";



---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<div class="underliner"><h1>
				Hi, I'm Miles
			</h1></div>
			<h2>Senior User Researcher & Designer</h2>
			<p>
				I lead research & design on <a href="">Raft's project</a> partnering with the US Department of Health and Human Services. We're redesigning and modernizing <a href="" id="tanf" [tip] class="tooltip">TANF¹</a> Data Reporting tools used by every US state, tribe, and territory.  
			</p>
			<p>
				Before my move to the world of GovTech, I spent three years working with early-stage b2b startups in hybrid UX & Product Management roles. I built user research practices from the ground up, led cross-functional teams in data-backed decision making, and aimed strategy at positive outcomes—not just outputs.
			</p>
			<section id="links">
				<a class="link-button button-green">Resumé</a>
				<a class="link-button button-mint">Approach</a>
				<a class="link-button button-blue">Work</a>
			</section>
		</section>
	</main>


</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	#container {
		font-family: Lato, sans-serif;
		height: 100%;
	}

	.underliner {
  border-bottom: 12px solid transparent;
  border-image: linear-gradient(to right, #d8ffac, #acffcf, #acffff);
  border-image-slice: 1;
  margin-bottom: 16px;
}

	main {
		height: 100%;
		display: flex;
		justify-content: left;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-family: Newsreader,serif;
		font-size: 5em;
		line-height: .7em;
		margin-top: 0.25em;
		font-weight: 900;
		text-shadow: -2px -2px 0 #fffcf3, 0 -2px 0 #fffcf3, 2px -2px 0 #fffcf3, 2px 0 0 #fffcf3, 2px 2px 0 #fffcf3, 0 2px 0 #fffcf3, -2px 2px 0 #fffcf3, -2px 0 0 #fffcf3;
              width: 100%;
        z-index: -1;


	}


	h2 {
		font-family: Newsreader, serif;
		font-size: 1.92em !important;
		font-weight: 700 !important;
		line-height: 1em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	a {
		color: #2d8654;
		font-weight: 600;
		text-decoration: underline;
	}

	.tooltip {
		text-decoration: none;
	}



	pre {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
			'DejaVu Sans Mono', monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #333;
		font-family: Lato, sans-serif;
		font-size: 1.5em;
		margin-bottom: 1.5em !important;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		


	}

	.link-button {
    cursor: pointer;
    border-radius: 12px;
    margin-right: 10px;
    padding: 14px 30px;
    font-family: Lato,sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.link-button:hover {
    transform: scale(1.02);
}

.button-green {
    color: #29461f;
    background-color: #e3ffc4;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    border: 2px solid #8db81e;
}

.button-green:hover {
    box-shadow: 0 9px 7px -5px #77a364;
}



.button-mint {
    color: #0f572d;
    background-color: #c6ffde;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    border: 2px solid #50c482;

}

.button-mint:hover {
    box-shadow: 0 9px 7px -5px #4f9772;
}


.button-blue {
    color: #29535a;
    background-color: #c3ffff;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    border: 2px solid #58c8db;
}

.button-blue:hover {
    box-shadow: 0 9px 7px -5px #5b94a8;
}
</style>
